<%= render "shared/errors", obj: @article %>

<div class="row">
    <div class ="col-md-12">

        <%= form_for @article do |f|%>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">
                <%= f.label :title%>
                
                </label>

            </div> 

            <div class="col-sm-8">
                <%= f.text_field :title, class:"form-control",placeholder: "Title of article", autofocus: true%>
            </div>


            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">
                <%= f.label :description%>
                
                </label>

            </div>

            <div class="col-sm-8">
                <%= f.text_area :description, class:"form-control",placeholder: "Description of article", autofocus: true%>
            </div>
            
            <br>

            <div class="col-sm-8">
                <%= f.submit%>            
            </div>
            
        

        <%end%>
        <div class=  "col-xs-4 col-xs-offset-4">
        [ <%= link_to "Cancel request and return to articles listing", articles_path %> ]
        </div>

    </div>
</div>